.map-wrap {
  position: relative;
  width: 100%;
  height: calc(100vh - 77px); /* calculate height of the screen minus the heading */
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sdk_container{
  padding-top: 10px;
  height: 500px;
  width: 90%;
  margin: auto;
}

.DisplayZoomLevel{
 z-index: 2;
  position: absolute;
 margin: 10px 10px 0 0;
 right: -0.45em;
 top: 4.8em;
 float: right;

}

.DisplayZoomLevel p{
  font-weight: bold ;
  padding-right: 3px;

}

 .marker {
        display: block;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        padding: 0;
    }

.spanZoom{

  border:2.9px solid lightgrey;
  background-color: white;
  border-radius: 4px;
  font-size: 1em;
  font-weight: bold;
  padding:3px 2px;


}


@media screen and (max-width:400px){
.sdk_container{
  padding-top: 10px;
  height: auto;
  width: 90%;
 
} 
 
}